{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Proyecto 0 - Cloud</title>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapse" data-toggle="collapse" data-target="#navbar" aria-expanded="false" >
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"/>
                <span class="icon-bar"/>
                <span class="icon-bar"/>
            </button>
            <a class="navbar-brand" href="{% url 'eventos:index' %}">Eventos</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav"></ul>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    <li><a class="glyphicon glyphicon-user" href="{% url 'eventos:index' %}">{{ user.username }}</a> </li>
                    <li><a class="glyphicon glyphicon-log-out" href="{% url 'eventos:logout' %}">Salir</a> </li>
                {% else %}
                    <li><a href="{% url 'eventos:addUser' %}">Registro</a> </li>
                    <li><a class="glyphicon glyphicon-log-in" href="{% url 'eventos:login' %}">Iniciar Sesión</a> </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<br/><br/>

{% block content %}
    <div class="row">
        <div class="col-md-4 col-sm-offset-4">
            <div class="page-header">
                <h2>Evento: {{ object.txt_evento }}</h2>
            </div>
            <div class="form-group">
                <label class="control-label" for="categoria">Categoria</label>
                {{ categorias|get_item:object.ind_categoria }}
            </div>
            <div class="form-group">
                <label for="control-label" for="lugar">Lugar</label>
                {{ object.txt_lugar }}
            </div>
            <div class="form-group">
                <label for="control-label" for="lugar">Dirección</label>
                {{ object.txt_direccion }}
            </div>
            <div class="form-group">
                <label for="control-label" for="modalidad">Modalidad</label>
                {{ modalidades|get_item:object.ind_modalidad }}
            </div>
            <div class="form-group">
                <label for="control-label" for="fec_inicio">Fecha inicial</label>
                {{ object.fec_inicio }}
            </div>
            <div class="form-group">
                <label for="control-label" for="fec_final">Fecha final</label>
                {{ object.fec_final }}
            </div>
            <div class="pull-right">
                <a href="{% url 'eventos:index' %}" class="btn btn-primary">Regresar</a>
            </div>
        </div>
    </div>
{% endblock %}

</body>
</html>