{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Proyecto 0 - Cloud</title>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapse" data-toggle="collapse" data-target="#navbar" aria-expanded="false" >
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"/>
                <span class="icon-bar"/>
                <span class="icon-bar"/>
            </button>
            <a class="navbar-brand" href="{% url 'eventos:index' %}">Eventos</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav"></ul>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    <li><a class="glyphicon glyphicon-user" href="{% url 'eventos:index' %}">{{ user.username }}</a> </li>
                    <li><a class="glyphicon glyphicon-log-out" href="{% url 'eventos:logout' %}">Salir</a> </li>
                {% else %}
                    <li><a href="{% url 'eventos:addUser' %}">Registro</a> </li>
                    <li><a class="glyphicon glyphicon-log-in" href="{% url 'eventos:login' %}">Iniciar Sesión</a> </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<br/><br/><br/>
<div class="col-md-4 col-sm-4 col-md-offset-4 col-sm-offset-4">
{% block content %}
    <form enctype="multipart/form-data" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <div class="row">
                <div class="pull-left">
                    <a href="{% url "eventos:index" %}" class="btn btn-success">Regresar</a>
                </div>
                <div class="pull-right">
                    <input type="submit" value="Guardar" class="btn btn-primary"/>
                </div>
            </div>
        {% endbuttons %}
    </form>
{% endblock %}
</div>
</body>
</html>